body{
    background-size: cover;
    margin-top: 0px;
  } 
  
  .heading
  {
  font-size: 23px;
  width: 100%;
  margin: 3px;
  }
  
  #status
  {
  font-size: 18px;
  }
  
  canvas{
      margin-top: 80px;
      border-radius: 8px;
      box-shadow: -8px -9px 25px rgb(84, 81, 81);
      border: 5px solid  rgb(245, 223, 220);
     
  }